<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- (properties?, settings?, typeAliases?, typeHandlers?, objectFactory?, 
 objectWrapperFactory?, reflectorFactory?, plugins?, environments?, databaseIdProvider?, mappers?) -->
<!-- 属性配置 -->

<properties>
   <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
   <property name="url" value="jdbc:mysql://localhost:3306/sms_db?useUnicode=true&amp;characterEncoding=utf8&amp;useSSL=true&amp;serverTimezone=Asia/Shanghai"/>
   <property name="username" value="root"/>
   <property name="password" value="123456"/>
</properties>

<typeAliases>
	<package name="team.itfour.store.entity"/>
</typeAliases>


<environments default="development">
    <!-- 配置数据库连接参数:jdbc协议的4个参数 -->
    <environment id="development">
       <!-- 数据库事务的管理方式是jdbc代码 -->
      <transactionManager type="JDBC"/>
      <!-- 配置数据库连接池 -->
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers>
    <!-- <mapper resource="org/mybatis/example/BlogMapper.xml"/> -->
    <mapper resource="team/itfour/store/dao/xml/GoodsDao.xml"/>
  </mappers>

</configuration>  